<!DOCTYPE html>
<html>
<head>
  <title>Glee</title>
  <%= stylesheet_link_tag    "glee/application", media: "all" %>
  <%= javascript_include_tag "glee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
